.about {
  padding: 70px 0;

  @media (max-width: 767px) {
    padding: 40px 0;
  }
}

.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  @media (max-width: 1180px) {
    flex-direction: column-reverse;
  }
}

.about__img {
  flex-shrink: 0;
}

.about__content {
  max-width: 486px;
  width: 100%;
}

.about__title {
  margin-bottom: 20px;
}

.about__description {
  margin-bottom: 40px;

  p {
    font-size: 20px;
    line-height: 125%;
    color: #444;

    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
}

.about__list {
  max-width: 376px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about__item {
  padding-left: 78px;
  background-repeat: no-repeat;
  background-position: left top;
}

.about__item-title {
  margin-bottom: 14px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #244d4d;

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.about__item-description {
  font-size: 18px;
  line-height: 144%;
  color: #383738;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}
