.footer {
  padding-top: 100px;
  background-color: #305f64;
}

.footer__copy {
  padding: 20px 0;
  border-top: 1px solid #407980;
}

.footer__copy-text {
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.footer__logo {
  display: block;
  margin-bottom: 24px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.footer__description {
  margin-bottom: 40px;
  max-width: 308px;

  p {
    font-size: 18px;
    line-height: 144%;
    color: #fff;
  }
}

.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__socials-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}

.footer__socials-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer__socials-link {
  display: inline-block;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.footer__items {
  max-width: 734px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__title {
  margin-bottom: 24px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__list-link {
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: #fff;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.footer__item-description {
  margin-bottom: 40px;
  max-width: 240px;
  width: 100%;

  p {
    font-size: 18px;
    line-height: 128%;
    color: #fff;
  }
}

.footer__form {
  height: 48px;
  padding: 0 12px 0 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #fff;
}

.footer__form-input {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #000;
  &::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #859395;
  }
}

.footer__form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  aspect-ratio: 1;
  background-color: #ffb624;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #407980;
  }
}
