.header {
  padding: 44px 0 70px;

  @media (max-width: 767px) {
    padding: 40px 0;
  }
}

.header__nav-wrapper {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.header__logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  color: #244d4d;
}

.nav {
  transition: transform 0.5s ease;
  @media (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-100%);
    background-color: #fff;
  }

  &--active {
    transform: translateY(0);
  }
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;

  @media (max-width: 767px) {
    padding-top: 100px;
    flex-direction: column;
    gap: 35px;
  }
}

.nav__link {
  display: inline-block;
  font-size: 16px;
  color: #161616;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }

  @media (max-width: 767px) {
    font-weight: 500;
    font-size: 18px;
  }
}

.header__menu-btn {
  position: relative;
  z-index: 5;
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__form-label {
  display: none;
}

.header__img {
  flex-shrink: 0;

  @media (max-width: 1024px) {
    display: none;
  }
}

.header__content {
  display: flex;
}

.header__content-text {
  padding: 100px 18px 137px 100px;
  background-color: #154444;

  @media (max-width: 767px) {
    padding: 50px 18px 60px 50px;
  }
}

.header__title {
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 56px;
  color: #fff;

  @media (max-width: 767px) {
    font-size: 38px;
  }

  @media (max-width: 420px) {
    font-size: 30px;
  }
}

.header__description {
  max-width: 488px;
  margin-bottom: 35px;
  p {
    font-size: 20px;
    line-height: 125%;
    color: #fff;

    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
}

.header__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  padding: 0 25px;
  font-size: 20px;
  line-height: 125%;
  color: #154444;
  background-color: #fff;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }

  @media (max-width: 767px) {
    height: 46px;
    font-size: 18px;
  }
}
