.popular {
  padding: 70px 0;

  @media (max-width: 767px) {
    padding: 40px 0;
  }
}

.popular__title {
  margin-bottom: 20px;
}

.popular__description {
  margin-bottom: 80px;
  max-width: 820px;

  p {
    font-size: 20px;
    line-height: 135%;
    color: #383738;

    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}

.popular__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (max-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 630px) {
    grid-template-columns: 1fr;
  }
}

.popular__item {
  box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
}

.popular__img {
  @media (max-width: 767px) {
    img {
      width: 100%;
    }
  }
}

.popular__info {
  padding: 30px 24px 27px;
}

.popular__info-top {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.popular__info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 135%;
  color: #242424;
}

.popular__info-btns {
  display: flex;
  gap: 8px;
}

.popular__info-btn {
  width: 26px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ecf4ff;

  svg {
    fill: black;
  }

  &--heart {
    &--active {
      background-color: #ef5423;
      svg {
        fill: #fff;
      }
    }
  }
}

.popular__info-bottom {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.popular__info-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 129%;
  color: #154444;
}

.popular__info-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 175%;
  color: #fff;
  border: 1px solid transparent;
  background-color: #244d4d;
  transition: all 0.3s ease;

  &:hover {
    background-color: #fff;
    color: #244d4d;
    border-color: #244d4d;
  }
}
